ubuntu-20.04-server-odroidm1-20220531.img.xz
ubuntu-20.04-server-odroidm1-20220531.img
ubuntu-22.04.1-server-odroidm1.img
ubuntu-22.04.1-mate-desktop-odroidm1.img
legendary-ubuntu-22.04.1-server-odroidm1-v*
kubuntu-22.04.1-desktop-odroidm1.img
legendary-kubuntu-22.04.1-desktop-odroidm1-v*
legendary-lubuntu-22.04.1-desktop-odroidm1-v*
legendary-lubuntu-22.04.1-desktop-odroidm1-v*
legendary-ubuntu-22.04.1-desktop-odroidm1-v*
legendary-ubuntu-22.04.1-mate-desktop-odroidm1-v*
legendary-ubuntu-22.04.1-server-odroidm1-v*
legendary-xubuntu-22.04.1-desktop-odroidm1-v*
lubuntu-22.04.1-desktop-odroidm1.img
ubuntu-22.04.1-desktop-odroidm1.img
xubuntu-22.04.1-desktop-odroidm1.img
